.col-lg-8.loginform{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}

.col-lg-4.banner{
    background-color: rgba(69, 138, 216, 0.5) ;
    padding: 0%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:2rem;
}




.row.eventlogin{
    height: 100vh;
    padding: 0%;
}

form{
    width:100vh;
    padding:15%;
    height: auto;

}

.form-control{
    width: 100%;
    padding-left: 3%;
    height: 4rem;
}

.form-label{
    font-size: 1rem;
    font-family:'Poppins'
}

.login{
    width: 50%;
    font-size: 1rem;
    font-family:'Poppins';
    background-color: black;
    color: white;
}

h2{
    font-family:'Poppins';
    font-size:3rem;
}

.signinbtns{
    border-radius: 2rem;
    background-color: black;
    outline-color: white;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Poppins';
    opacity: 70%;
    color: white;
}

